/* Portrait phones and smaller (xxs) */
@media (max-width: 480px) {
	h1{font-size:36px}
	section.dark-header a.btn{display: block; font-size: 18px!important}
	section.white-header, section.grey-header, section.dark-header{padding: 30px 10px}
	.page_404_big_title{font-size:100px;}
	iframe.video{height: 100%}
}

/* Landscape phones and portrait tablets (xs) */
@media (max-width: 767px) {
	.text-xs-left { text-align: left; }
	.text-xs-right { text-align: right; }
	.text-xs-center { text-align: center; }
	.text-xs-justify { text-align: justify; }

	.big-input, .big-button{
		min-height: 50px;
		font-size: 18px;
		padding-left:10px; 
		padding-right:10px;		
	}
	
	section.white-header, section.grey-header, section.dark-header{padding: 30px 10px}
	
	.search-title{margin-top:20px}
	.profile-preferences-item{height: auto;}
	.profile-top-wrapper .row .no-float{display: inline-block; float: none;}
	.profile-top-wrapper .row{display: inline-block;}
	.profile-top-wrapper .profile-top-left{padding: 0 30px;}
	.profile-top-wrapper .profile-top-center{padding: 10px 30px;}
	.profile-top-wrapper .profile-top-center .pull-left{float: none!important; display: block;}
	.profile-top-wrapper .profile-top-center .pull-right{float: none!important; display: block; margin-bottom:20px;}
	.profile-top-wrapper .profile-top-right{float: none;margin: 0 15px;border-left: transparent;border-radius: 0 0 4px 4px;}
	.home-categories strong{display: block; height: 40px;}
	
}

/* Portrait tablets and small desktops (sm) */
@media (min-width: 768px) and (max-width: 991px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
    .search-title{margin-top:20px}
	.navbar-header { float: none; }  

	.profile-top-wrapper .row .no-float{display: inline-block; float: none;}
	.profile-top-wrapper .profile-top-right{float: none;margin: 0;border-left: transparent;border-radius: 0 0 4px 4px;}
}

/* Landscape tablets and medium desktops (md) */
@media (min-width: 992px) and (max-width: 1199px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}

/* Large desktops and laptops (lg) */
@media (min-width: 1200px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}